Source: _APP_NAME_-svn-dav
Section: web
Priority: extra
Maintainer: Packager.io <support@packager.io>
Build-Depends: debhelper (>= 7)
Homepage: https://packager.io

Package: _APP_NAME_-svn-dav
Architecture: amd64
Pre-Depends: debconf
Provides: _APP_NAME_-svn-dav
Depends: _APP_NAME_-apache2 (>= _APP_VERSION_-_APP_ITERATION_), subversion, libapache2-mod-perl2, libapache2-svn, ${misc:Depends}
Description: Provides SVN integration for _APP_NAME_.
